#navbar{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}
#voucher_list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-gap:20px;
}